@model SanJoseEstudiantes.Models.ErrorViewModel
@{
 ViewData["Title"] = "Error";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@Model.RequestId</h2>
<p>
 An error occurred. Use the logs for details.
</p>